* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

}

.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58%;
  height: 100vh;

}

.instagram-phone {
  padding-top: 3rem;
  padding-left: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46%
}

.instagram-phone img {
  height: 44rem;

}

.instagram-continue {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 37rem;
  padding-top: 1.8rem;
  padding-left: 2.5rem;
}

.group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  border: 1px solid lightgray;

}

.group:nth-child(1) {
  padding-top: 2.5rem;
  min-height: 17rem;
  align-items: center;
  padding-bottom: 1.5rem;

}

.group:nth-child(2) {
  min-height: 4rem;
  align-items: center;

}

.instagram-logo {

  padding-bottom: 5px;
  height: 3.8rem;
  width: 13rem;



}

.profile-photo {
  display: flex;
  overflow: hidden;

}

.profile-photo img {
  height: 7rem;
  border-radius: 50%;
}

.instagram-login {
  margin-top: 1rem;
  background-color: #0095f6;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
}

.instagram-logout {
  color: #0095f6;
  margin-top: 1rem;
}

.not-account {
  color: rgb(160, 160, 160);
}

.link-blue {
  color: #0095f6;

}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.download {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.app-download {
  height: 3rem;
  width: 10rem;

}


.app-download:nth-child(1) {
  background-image: url('./img/app_store.png');

  background-size: 10rem 3rem;
}

.app-download:nth-child(2) {
  background-image: url('./img/goo_play.png');

  background-size: cover;
}

@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%
  }
}

@media (max-width: 720px) {
  body {
    background-color: #ffffff;
  }
  .instagram-wrapper {
    width: 90%;
  }
  .instagram-phone {
    display: none;
  }
  .instagram-continue {
    width: 100%;
  }
  .group {
    border: 1px solid transparent;
  }
}
